<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Extra Letter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>14645FAA1F591EE8001F0AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14645FC41F591EE8001F0AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>14645FCF1F591EE8001F0AC9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
